p {
  text-align: center;
}
a {
  font-size: larger;
}
hr{
  margin-left: 50px;
}
#navbar{
  background: rgb(2,0,36);
  background: linear-gradient(343deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 22%, rgba(0,212,255,1) 100%);
}
#connect {
  background-image: url(https://images.pexels.com/photos/2091039/pexels-photo-2091039.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  color: #fff;
  margin-top: 5px;
  border-top: #333 7px solid;
  border-bottom: #333 7px solid;
}
#carouselExampleControls {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#footer{
  background: rgb(2,0,36);
  background: linear-gradient(343deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 22%, rgba(0,212,255,1) 100%);
}
#footerMiddle{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(9,128,152,1) 100%);
}
#footertop {
  background: #1c2331;
  background: linear-gradient(343deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 22%, rgba(0,212,255,1) 100%);
}
#footerBotem {
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(9,128,152,1) 100%);
}
.unique-color-dark{
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 22%, rgba(9,128,152,1) 100%);
}
